@import "../components/product";

body {
  overflow-x: hidden;
 
}
.hero {
  position: relative;
  @include media-up(md) {
    height: 700px;
  }
  @include flexbox(center, center, column);
  @include bg-image(url("../../assets/images/test\ hero\ 3.jpg"));
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Adjust the opacity as needed
    z-index: 200000;
    position: absolute;
  }
  .hero-info {
    @include flexbox(center, center, column);
    position: relative;
    z-index: 200000;
    color: #fff;
    width: 80%;
    h1 {
      font-size: 30px;
      @include media-up(md) {
        font-size: 40px;
      }
      @include media-up(lg) {
        font-size: 50px;
      }
      margin-bottom: 20px;
      text-align: center;
    }
    p {
      font-size: 20px;
      @include media-up(md) {
        font-size: 25px;
      }
      @include media-up(lg) {
        font-size: 30px;
      }
      margin-bottom: 30px;
      text-align: center;
    }
  }
  .search-area {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .search {
      width: 100%;
      @include media-up(md) {
        width: 32%;
      }

      position: relative;
      border: #aeaeae 1px solid;
      border-radius: 5px;

      input,
      select {
        width: 100%;
        padding: 15px;
        padding-right: 40px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-family: cairo;
        &:focus {
          outline: none;
          border: 1px solid $mainColor;
        }
      }
      i {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: $mainColor;
      }
    }
  }
}
.about-us {
  padding: 50px 0;
  background: linear-gradient(90deg, $mainColor 0%, $secondaryColor 100%);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
  }
  padding-top: 50px;
  gap: 20px;
  .inner-about {
    @include flexbox(center, center, row);
    flex-direction: column-reverse;
    @include media-up(md) {
      flex-direction: row;
    }
    gap: 30px;
    .right-about {
      width: 50%;
      h2 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        @include media-up(md) {
          font-size: 25px;
          text-align: start;
        }
        @include media-up(lg) {
          font-size: 40px;
          text-align: start;
        }
      }
      p {
        margin-top: 10px;
        text-align: center;
        font-size: 15px;
        @include media-up(md) {
          font-size: 16px;
          text-align: start;
          margin-top: 20px;
        }
        @include media-up(lg) {
          font-size: 18px;
          text-align: start;
          margin-top: 20px;
        }
      }
      ul {
        margin-top: 20px;
        li {
          margin-right: 18px;
          margin-bottom: 10px;
          font-size: 13px;
          line-height: 1.8;
          @include media-up(md) {
            font-size: 16px;
          }
          @include media-up(lg) {
            font-size: 18px;
          }
          position: relative;
          padding-left: 20px;
          border-bottom: #aeaeae 1px dotted;
          width: 70%;
          padding-bottom: 5px;
          &::before {
            content: "✓";
            position: absolute;
            right: -18px;
            color: $mainColor;
          }
        }
      }
      .btn-primary {
        margin-top: 20px;
      }
    }
    .left-about {
      width: 50%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}

.testimonials {
  border-top: 3px solid $accentColor;
  padding: 50px 0;
  background: #f9f9f9;
  .all-testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    .testimonial {
      border-radius: 20px;
      padding: 20px;
      background-color: #f4f1f8;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-right: 2px solid $mainColor;
      border-left: 2px solid $secondaryColor;
      position: relative;

      .image {
          position: absolute;
        top: -40px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 15px;
        border: 2px solid $secondaryColor;
        img {
          width: 100%;
          height: 100%;
          
          object-fit: cover;
        }
      }
      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 24px;
      }
      p {
        font-size: 16px;
        color: $darkGray;
        line-height: 1.5;
        text-align: center;
      }
      .stars {
        margin: 10px 0;
        i {
          color: rgba(255, 255, 0, 0.721);
          font-size: 20px;
        }
      }
     
    }
   
  }
}
.partners {
  padding: 50px 0;
  .logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      filter:  grayscale(1);
      transition: all 0.3s ease-in-out;
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

.blog {
    padding: 50px 0 ;
    background-color: #f4f1f8;
    .all-blogs{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
      .blog-box {
        background-color: #eee;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        position: relative;
        &:hover {
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
          transform: translateY(-5px);
          cursor : pointer;
        }
         .info{
          padding: 15px;
          h3 {
            font-size: 20px;
            font-weight: bold;
            margin-top: 5px;
            color: $mainColor;
          
          }
          p {
            font-size: 16px;
            color: $darkGray;
            line-height: 1.8; 
            margin-top : 5px;
          }
         }
        hr {
          margin: 10px 0;
        }
        .blog-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-top: 10px;
          .author {
            display: flex;
            flex-direction: row;
            align-items: center;
          
            
              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 10px;
                border: 2px solid $secondaryColor;
              }
            }
            span {
              font-size: 16px;
              font-weight: bold;
              color: $mainColor;
              border-left: 1px solid black;
              padding-left: 10px;
            }
          }
        }
      }
} 

.gallery {
  padding: 50px 0;
  background-color: #f9f9f9;
  .all-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        scale: 1.05;
      }
    }
  }
}
