header {
    height: 60px;
    width: 100%;
    background-color: $secondaryColor;
    border-bottom: 1px solid #eee;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.525);

    @include flexbox();

    nav {
        @include flexbox(space-between, center, row);
        @include container;

        ul {
            display: none;
            list-style: none;
            gap: 20px;

            @include media-up(md) {
                @include flexbox();
            }

            li {
                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: 500;
                    font-size: 16px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: blue;
                    }
                }
            }
        }

        .logo {
            width: 70px;
            margin-top: 10px;
        }
    }

    .social-media {
        display: none;

        @include media-up(md) {
            @include flexbox();
            gap: 10px;

            a {
                width: 38px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #fff;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                i {
                    color: #000;
                    font-size: 17px;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    background-color: $mainColor;
                    transform: translateY(-3px);

                    i {
                        color: #fff;
                    }
                }
            }
        }
    }

    .mobile-nav {
        font-size: 24px;
        cursor: pointer;

        @include media-up(md) {
            display: none;
        }
    }
}